<form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)">
  <div class="form-group">
    <input
      type="tel"
      name="mobile"
      class="form-control"
      placeholder="Mobile Number"
      ngModel
      required
      #mobile="ngModel"
      minlength="11"
      maxlength="11"
    />
    <small id="helpId" class="text-muted" *ngIf="mobile.touched && mobile.invalid"
      >please enter correct mobile number!</small
    >
  </div>
  <div class="form-group">
    <input
      type="password"
      name="password"
      class="form-control"
      placeholder="password"
      ngModel
      required
      #password="ngModel"
    />
    <small id="helpId" class="text-muted" *ngIf="password.touched && password.invalid"
      >please enter a valid password!</small
    >
  </div>
  <div class="form-group">
    <button [disabled]="!loginForm.valid" class="btn btn-primary text-center">
      login
    </button>
  </div>
</form>
