<form #singupForm="ngForm" (ngSubmit)="onSignup(singupForm)">
  <div class="form-group">
    <input
      type="text"
      name="name"
      class="form-control"
      placeholder="User Name"
      ngModel
      required
      minlength="3"
      #name="ngModel"
    />
    <small id="helpId" class="text-muted" *ngIf="name.touched && name.invalid"
      >please enter correct user name!</small
    >
  </div>
  <div class="form-group">
    <input
      type="tel"
      name="mobile"
      class="form-control"
      placeholder="Mobile Number"
      ngModel
      required
      #mobile="ngModel"
      minlength="11"
      maxlength="11"
    />
    <small id="helpId" class="text-muted" *ngIf="mobile.touched && mobile.invalid"
      >please enter correct mobile number!</small
    >
  </div>
  <div class="form-group">
    <input
      type="password"
      name="password"
      class="form-control"
      placeholder="password"
      ngModel
      required
      #password="ngModel"
    />
    <small id="helpId" class="text-muted" *ngIf="password.touched && password.invalid"
      >please enter a valid password!</small
    >
  </div>
  <div class="form-group">
    <button [disabled]="!singupForm.valid" class="btn btn-primary text-center">
      Sign up
    </button>
  </div>
</form>
